@use "theme/colors.scss";
@use "theme/typography.scss";

html {
  font-size: 10px;
}

body * {
  @include typography.default-font-face;
}

body {
  pre,
  code {
    font-family: courier, monospace;
  }
}

.header {
  @include typography.headline-text;

  background-color: colors.$gray-28;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: colors.$white;
}

.code {
  font-family: typography.$font-monospace;
}

.link {
  color: colors.$blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
