@use "theme/colors.scss";
@use "theme/typography.scss";

body * {
  @include typography.default-font-face;
}

body {
  pre,
  code {
    font-family: courier, monospace;
  }
}

.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;

  & > * {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
  }
}

.logo {
  height: 40vmin;
  pointer-events: none;

  @media (prefers-reduced-motion: no-preference) {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  @include typography.headline-text;

  background-color: colors.$gray-28;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: colors.$white;
}

.code {
  font-family: typography.$font-monospace;
}

.link {
  color: colors.$blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
